*, *::before, *::after {
    box-sizing: border-box;
    font-family: Gotham Rounded, sans-serif;
    font-weight: normal;
}

body {
    padding: 0;
    margin: 0;
    background: url('./components/bgpaper.jpg'); /*repeat center center/cover;*/
    background-size: contain;
    overflow-y: hidden;
    overflow-x: hidden;
}

.title {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 3rem;
    color: yellow;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bolder;
}

.start {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 3rem;
    color: rgb(255, 0, 0);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bolder;
}

.intro {
    text-size-adjust: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 3rem;
    color: rgb(255, 0, 0);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}